@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Lora:ital@1&family=Roboto&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.gradient-bg {
  background: rgb(13, 10, 38);
  background: linear-gradient(
    90deg,
    rgba(13, 10, 38, 1) 0%,
    rgba(60, 15, 89, 1) 35%,
    rgba(140, 21, 191, 1) 100%
  );
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #ff7f50;
  outline: 1px solid #ff7f50;
  border-radius: 100px;
}

.main-text {
  font-family: 'Roboto', sans-serif;
}

.secondary-text {
  font-family: 'Lora', serif;
}

.section {
  scroll-margin-top: 100px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
